.container {
    max-width: 1024px;
    margin: auto;
    border: 1px solid rgb(131, 130, 130);   
    padding: 20px;
     /* background-color: rgb(203, 224, 236); */
    box-shadow: 0 0 10px 5px lightgray;   
    background-image: url("/img/backgrounds-fon.jpg");    
    background-repeat:no-repeat;   
}

.container-width {
    width: 80%;
}

.container-video {
    margin: 20px auto;
}

.container-video>video {
    width: 100%;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.sub-control-panel {
    display: flex;
    justify-content: space-between
}

.btn-control {
    width: 70px;
    height: 50px;
    text-align: center;
}

.btn-control img {
    height: 100%;
    opacity: 0.8;
    transition: 0.2s;
}

.current-time {
    width: 200px;
    height: 35px;
    border: 1px solid rgb(117, 117, 117);
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
}

.btn-control img:hover {
    opacity: 1;
    scale: 1.1;
}